.input{
    border: 0;
    border-bottom: 1px solid gray;
    outline: 0;
}
.calcularNumero{
    width:90%; 
    max-width: 90%; 
    min-width:90%; 
    margin-left:5%;
    font-size: calc(0.6em + 0.6vw);
}
.tituloCard{
    font-size: calc(1em + 1vw);
    background-color: #008577;
}
span{
    color: gray;
}