<div class="container">
    <div class="row">
        <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
            <div class="card cardTable">
                <div class="card-header text-white tituloCard">
                    TestPaloIT
                </div>
                <div class="card-body">
                    <form #busquedaForm="ngForm" (ngSubmit)="calcularNumeroSuerte()">
                        <div class="form-group">
                            <div class="row">
                                <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                                    <span>Card Number:</span>
                                    <input type="text" class="form-control input" [ngModelOptions]="{standalone: true}"
                                        [(ngModel)]="cadena" (keypress)="soloNumeros($event)">
                                </div>
                            </div>
                        </div>
                        <br>
                        <br>
                        <br>
                        <div class="form-group">
                            <input type="submit" value="CALCULAR NÚMERO DE LA SUERTE" class="btn btn-secondary calcularNumero">
                        </div>
                        <div class="form-group">
                            <div class="row">
                                <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 text-center">
                                    <span>Número de la suerte: {{numero}}</span>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
